/* Colors */
$dark-color-primary: #006064 !default;
$main-primary-color: #0097A7 !default;
$light-color-primary: #4DD0E1 !default;
$text-icons: #FFF !default;
$accent-color: #FFAB00 !default;
$accent-color2: #FFAF !default;


$cyan-lighten-2: #4DD0E1 !default;
$primary-text : #212121 !default;
$secondary-text: #9E9E9E !default;
$divider-color: #E0E0E0 !default;

/* Margin, Padding */
$margin-basic: 20px !default;
$padding-basic: 10px !default;

/* Font */
$font-size-title: 34px !default;
$font-size-p: 14px !default;
$font-space: 2px !default;

/* BackGround Color */
$base-bg-color: $light-color-primary !default;
